body {
    background: #222222;
}


.container{
    /*border: solid 2px red;*/
    position: relative;
    width: 1200px;
    height: 800px;
    margin: auto auto;
}

.container-conteudo{
    /*border: solid 2px rgb(213, 185, 23);*/
    position: relative;
    width: 1200px;
    height: 800px;
    margin: 80px auto;
}


.logo {

    position: absolute;
    margin-left: -25px;
    /*margin-top: 30px;*/
}

.container-copiar {
    /*border: solid 1px rgb(17, 0, 255);*/
    position: absolute;
    width: 400px;
    height: 744px;
    right: 0;
  
    top: 45px;
    background: #333333;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#render {

    position: absolute;
    top: 0px;
    right: -23px;

}

.output-padrao {
    /*border: solid 1px rgb(255, 243, 13);*/
    position: relative;
    top: 30px;
    right: 2px;
    left: 3px;

    padding: 20px;
    width: 350px;
    font-size: 35px;

    background: #333333;

    border: none;
    outline: none;
    resize: none;
    color: silver;

    font-family: 'Inter', sans-serif;
}

#mini-container-output {

    margin-left: 30px;
    position: absolute;
    width: 336px;
    height: 122px;

    top: 520px;
    /*border: cornflowerblue 1px solid;*/
}

#mensagem-encontrada {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 33px;
}

#mensagem-digite-texto {
    color: silver;
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
}



#copiar {
    display: none;
    box-sizing: border-box;

    background: #333333;
    color: darkcyan;
    font-size: 22px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 650px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid darkcyan;
    border-radius: 24px;
    cursor: pointer;
}

#copiar:hover {
    box-sizing: border-box;

    background: #333333;
    color: aqua;
    font-size: 22px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 650px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid aqua;
    border-radius: 24px;
    cursor: pointer;
    transition: 1s;
}

/*#########################################################################3*/



.container-principal {
    /*border: solid 1px rgb(245, 9, 182);*/
    position: absolute;
    /*border: solid 1px yellow;*/
    width: 800px;
    height: 618px;
 
    top: 168px;

}

.input-padrao {
    /*border: solid 1px rgb(21, 251, 9);*/
    width: 700px;
    height: 288px;
    left: 240px;
    top: 168px;
    padding: 20px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;


    background: #222222;
    border: none;
    outline: none;
    resize: none;

    color: silver;
}

.input-padrao::placeholder {
    color: silver;
}

.criptografar {

    box-sizing: border-box;

    background: #333333;
    color: darkcyan;
    font-size: 22px;

    position: relative;
    width: 336px;
    height: 67px;

    top: 195px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid darkcyan;
    border-radius: 24px;
    cursor: pointer;

}




.criptografar:hover {
    box-sizing: border-box;

    background: #333333;
    color: aqua;
    font-size: 22px;

    position: relative;
    width: 336px;
    height: 67px;

    top: 195px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid aqua;
    border-radius: 24px;
    cursor: pointer;
    transition: 1s;
}

.descriptografar {

    box-sizing: border-box;

    background: #222222;
    color: darkcyan;
    font-size: 22px;

    position: relative;
    width: 336px;
    height: 67px;
    top: 195px;
    margin-left: 60px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid darkcyan;
    border-radius: 24px;
    cursor: pointer;
}

.descriptografar:hover {

    box-sizing: border-box;

    background: #222222;
    color: aqua;
    font-size: 22px;

    position: relative;
    width: 336px;
    height: 67px;
    top: 195px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid aqua;
    border-radius: 24px;
    cursor: pointer;
    transition: 1s;
}

.invisivel {
    display: none;

}