



body{
    background-color: #222222;    
}

.logo{
    margin-left: 50px;
    margin-top: 30px;
}

.container-copiar{
    position: relative;
    background: #333333;
    color: white;
    position: absolute;
    float: right;
    height: 860px;
    width: 456px;
    right: 3.8%;
    bottom: 56px;
    border-radius: 30px;
    /*border: solid 1px #eb0000;*/
}

.render{
    margin-top: 180px;
    margin-left: 50px;
}

.mensagem-encontrada{
    font-weight: bold;
    font-size: 33px;
    text-align: center;
    line-height: 24px;
    margin-top: 30px;
}

#mensagem-digite-texto{
    line-height: 24px;
    font-size: 22px;
    text-align: center;
    color: silver;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.container-principal{
    background: #222222;
    position: relative;
    width: 1150px;
    height: 797px;
    left: 12%;
    /*border: solid 1px #FFFFFF;*/


}

.input-padrao{
    position: absolute;
    top: 70px;
    left: 60px;
    background: #222222;
    border: none;
    outline: none;
    resize: none;
    color: whitesmoke;
    display: block;
	padding: 20px 35px;
	width: 950px;
    height: 350px;
    font-size: 45px;
    font-family: 'Inter', sans-serif;
}
.input-padrao::placeholder{
    color: silver;
}

.criptografar{
    position: absolute;
    bottom: 50px;
    left: 95px;
    width: 350px;
    height: 55px;
    font-size: 22px;
    border-radius: 20px;
    background: rebeccapurple;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
}



.descriptografar{
    position: absolute;
    bottom: 50px;
    left: 550px;
    width: 350px;
    height: 55px;
    font-size: 22px;
    border-radius: 20px;
    background: none;
    border: solid 2px rebeccapurple;
    color: silver;
    cursor: pointer;
}

